<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="Xtb_server" value="demo"/>
      <add key="Xtb_login" value="10248851"/>
      <add key="Xtb_pwd" value="NSA@91-DC8ac"/>

      <add key="Mysql_host" value="5bfc05c3-210b-4850-a236-347c5fa346f3.pdb.ovh.net"/>
      <add key="Mysql_database" value="market"/>
      <add key="Mysql_login" value="market_user"/>
      <add key="Mysql_pwd" value="KGB35ac46X"/>
      <add key="Mysql_port" value="21732"/>
    </appSettings>
</configuration>