<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="Xtb_server" value="/"/>
      <add key="Xtb_login" value="/"/>
      <add key="Xtb_pwd" value="/"/>

      <add key="Mysql_host" value="/"/>
      <add key="Mysql_database" value="/"/>
      <add key="Mysql_login" value="/"/>
      <add key="Mysql_pwd" value="/"/>
      <add key="Mysql_port" value="/"/>
    </appSettings>
</configuration>