<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="XtbServer" value="demo"/>
      <add key="XtbUserId" value="535745"/>
      <add key="XtbUserPwd" value="xtb123"/>

      <add key="MysqlServer" value="localhost"/>
      <add key="MysqlDatabase" value="market"/>
      <add key="MysqlLogin" value="market_user"/>
      <add key="MysqlPassword" value="azerty"/>
    </appSettings>
</configuration>